mixin css(src)
    link(rel="stylesheet", href=src)

mixin js(src)
    script(src=src)


doctype html5
html
    head
        title #{title}

        +css("css/base.css")
        // libs
        +js("socket.io/socket.io.js")
        +js("lib/microjungle.min.js")
        +js("lib/jquery.min.js")
    body
        div.content
            block content

        script.
            var params = {
                host: '#{host}',
                port: #{port}
            };

        // client scripts
        +js("js/socket.io.js")

